
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        <!-- iterate over list of tuples, each is a row -->
        {% if session['cart'] %}
            {% for melon_tuple in melon_order %}
                <tr>
                    <td>{{ melon_tuple[0] }}</td>
                    <td>{{ melon_tuple[1] }}</td>
                    <td>{{ melon_tuple[2] }}</td>
                    <td>{{ melon_tuple[3] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h3>Total: {{ order_total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}

