
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% if session['cart'] %}
            {% for melon in session['cart'] %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ quantity }}</td>
                    <td>{{ price }}</td>
                    <td>{{ total }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h3>Total: {{ order_total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}

